* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Sub-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.search {
  background: transparent;
  border: none;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  font-size: 1rem;
  height: 43px;
}

.logo {
  text-transform: uppercase;
  color: #25262a;
  letter-spacing: 0.2em;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #25262a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: black;
}

.icon-group {
  display: flex;
  gap: 10px;
}

.icon-group .user-icon {
  color: blue;
}

.icon-group .heart-icon {
  color: blue;
}

.icon-group .cart-icon {
  position: relative;
  color: blue;
}

.icon-group .cart-icon::after {
  content: "2";
  position: absolute;
  background-color: blue;
  color: #fff;
  top: -15px;
  right: -15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

.nav-menu {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
  margin-left: 90px;
}

.nav-menu li {
  list-style-type: none;
}

.nav-menu a {
  text-decoration: none;
  color: rgb(31, 114, 192);
  transition: 0.8s ease-in-out;
}

.nav-menu a:hover {
  color: black;
  transition: 0.8s ease-in-out;
}

/* styling section */

.introduction {
  width: 100vw;
  height: 80vh;
  position: relative;
  margin-top: 40px;
  background-image: url(./images/Bag5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding-left: 80px;
}

.intro-text {
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
  text-align: left;
  margin-right: 150px;
  width: 46%;
  font-size: 5rem;
  font-weight: 500px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.shop-now {
  width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: blue;
  margin-right: 600px;
}

.shop-now a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 140px auto;
  gap: 20px;
}

.container h1 {
  color: #25262a;
  letter-spacing: 0.05em;
  font-size: 18px;
}

.container p {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px;
}
footer {
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-container ul li {
  list-style-type: none;
  margin-top: 10px;
}

.footer-container h1 {
  font-size: 20px;
  color: #25262a;
  margin-bottom: 20px;
}

.Copyright {
  text-align: center;
  font-size: 8px;
  margin-top: 20px;
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
}
.Copyright hr {
  margin-bottom: 9px;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.no-header {
  margin-top: 50px;
}

.for-image img {
  width: 350px;
  height: 500px;
}

.our-collections {
  margin: 40px;
  text-align: center;
}

.our-collections h1 {
  margin-bottom: 50px;
}

.sub-section {
  background-color: #7d7f81;
  margin-top: 40px;
}

.display-images {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.display-images h1 {
  margin-bottom: 50px;
}

.for-image {
  position: relative;
  text-align: center;
}

.for-image .image-text {
  position: absolute;
  bottom: 30px;
  left: 90px;
  color: white;
  font-weight: bold;
}

.for-image img {
  width: 300px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.for-image img:hover {
  transform: scale(0.9);
  /* transform: scale(1.1); */
  transition: 0.5s ease-in-out;
}

.featured-products {
  margin: 100px;
  text-align: center;
}

.featured-products h1 {
  margin-bottom: 50px;
}

.fa-location-dot {
  margin-right: 10px;
}

.fa-phone {
  margin-right: 10px;
}

.fa-square-envelope {
  margin-right: 10px;
}
footer {
  background-color: #3d8bd0;
  padding: 30px;
}

.Copyright h1{
  color: #000;
}
